:root {
    --Orange:hsl(16, 99%, 65%);
    --SortTekst:hsl(0, 0%, 20%);
    --BrunTekst:hsl(19, 25%, 26%);
    --LightgreyTekst:hsl(0, 0%, 44%);
    --PrimærBgdColor:hsl(20, 100%, 98%);
    --MånedensBogColor:hsl(48, 71%, 99%);
    --hpBGD:hsl(0, 86%, 97%);
}

/* Titel font & btns: font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
/* Body Text: font-family: 'Work Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* Affects the whole site */
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--PrimærBgdColor);
}

    /* ?grid? */
.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: 
        "header"
        "container1"
        "container2"
        "container3"
        "container4"
        "container5"
        "footer";
}

.wrapper {
    max-width: 500px;
    margin: auto;
}

/* Header - Navigation */
h1 {
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
}
span {
    color: var(--Orange);
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    color: var(--BrunTekst);
    text-align: center;
    padding: 1.5rem;
}

a:link {
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: var(--BrunTekst);
}

    /* Menu btn start */
nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

nav .menu-btn {
    display: block;
    width: 3rem;
    z-index: 7;
    opacity: 0;
    cursor: pointer;
}

nav .menu-btn ~ .menuIcon {
    display: block;
}

nav .menu-btn:checked ~ .menuIcon {
    display: none;
}

nav .menu-btn ~ .closeIcon {
    display: none;
}

nav .menu-btn:checked ~ .closeIcon {
    display: block;
}

nav .menu-btn:checked ~ ul {
    display: flex;
    flex-direction: column;
    place-items: center;  
    background-color: var(--Orange);  
}

nav>img {
    z-index: 6;
}

nav .menu-btn, nav>img {
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 0.5rem;
}
    /* Menu btn end */

nav ul {
    display: none; 
    width: 100%;
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
    /* Links in menu */
li a{
    font-size: 1.5rem;
    color: var(--BrunTekst);;
}
  
li a:visited {
    text-decoration: none;
}
    
li a:active {
    border: 1px solid black;
}
    /* Lins in menu end */

    /* Opret Bruger */
.user {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid var(--hpBGD);
    border-radius: 2rem;
    width: 9rem;
    margin: 0.5rem;
    background-color: var(--hpBGD);
    text-align: center;
}

.user a {
    color: var(--Orange);
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
    /* Opret Bruger end */

    /* About Fantasybooks */
.hero-img {
    background-image: url(../img/hero\ image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    display: grid;
    place-items: center;
    font-family: 'Work Sans', sans-serif;
    padding: 2rem;
    text-align: center; 
}

.hero-img p {
    color: white;
}

.hero-text {
    line-height: 1.6;
    /*background-color: hsla(240, 14%, 28%, 60%);*/ 
    /* ?bgd with opacity? */
}

    /* Secondhand */
section .secondhand-titel {
    display: flex;
    justify-content: center;
    text-align: center;    
}

.secondhand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 230vh;
}

.secondhand img {
    margin: 0.5rem;
    width: 300px;
    object-fit: cover;
}

div a img {
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
}

.show {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

.arrow {
    width: 1.5rem;
    box-shadow: none;
}

section div div div a {
    padding-top: 2rem;
    color: var(--BrunTekst);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* indsæt pil
.show a::after {
    background-image: url(../img/arrow-icon.svg);
}*/

    /* Månedens Bog */
.month1 {
    display: flex;
    flex-direction: column;
    background-color: var(--MånedensBogColor);
    height: 40vh;
    font-family: 'Work Sans', sans-serif;
}

.month1 h3 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    color: var(--BrunTekst);
}

.month1 p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    color: var(--LightgreyTekst);
}

.month1 a {
    color: var(--BrunTekst);
    text-align: center;
}

/*.month1 a::after {
   img arraow? har sat den i html'en
}*/

.month2 {
    background-color: var(--hpBGD);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    object-fit: cover;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.month2 h2 {
    color: var(--BrunTekst);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.month2 p {
    color: var(--LightgreyTekst);
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.month2 a {
    color: var(--BrunTekst);
}


.order {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid var(--Orange);
    border-radius: 2rem;
    width: 7rem;
    text-align: center;
    background-color: var(--Orange);
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.order a {
    font-size: 1rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.hp {
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
}

    /* Bogklubben */
.club-img {
    background-image: url(../img/Cover-Bogklub.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vh;
    width: 100%;
    display: grid;
    place-items: center;
}

.club-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 2px solid var(--Orange);
    border-radius: 2rem;
    width: 11rem;
    text-align: center;
    background-color: var(--Orange);
    box-shadow: 10px 10px 30px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.club-link a {
    font-size: 0.9rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

    /* Footer  */
article h4 {
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
    background-color: var(--MånedensBogColor);
    color: var(--BrunTekst);
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.filter-orange{
    cursor: pointer;
    width: 3rem;
    height: auto;
    filter: invert(50%) sepia(10%) saturate(2476%) hue-rotate(340deg) brightness(100%) contrast(159%);
}

.footer-img {
    background-image: url(../img/footer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 400px;
    display: grid;
    place-items: center;
}

.foot-titel {
    font-weight:bold;
    color: var(--BrunTekst);
}

    /* Footer end */

    /* Desktop setup */
@media (min-width: 1280px) {
    .wrapper {
        max-width: 1500px;
        margin: auto;
    }

    /* hamburgerMenu not showing */
    nav input.menu-btn {
        display: none;
    }

    nav .menu-btn ~ .menuIcon {
        display: none;
    }

    nav .menu-btn ~ .closeIcon {
        display: none;
    }

    nav {
        display: flex;
    }

    nav ul {
        display: flex;
        justify-content: space-around;  
    } 
    
    /* Opret bruger */
    .user {
        width: 15rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    .user a {
        padding-top: 0.4rem;
    }

    /* About Fantasybooks */
    .hero-text {
        width: 600px;
    }
    
    /* Secondhand */
    .secondhand {
        height: 60vh;
    }

    .secondhand img {
        width: 300px;
        height: 500px;
    }

    /* Månedens bog */
    .month1 {
        height: 30vh;
    }

    /* ?flexbox eller grid?
    .mBook {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }*/


    /* Bog klubben */
    .club-img {
        height: 50vh;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 6rem;
        text-align: start;
        height: 40vh;
    }

    /* ?? Grid af siden ?? 
    .grid-container {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "header header header header"
            "container1 container1 container1 container1"
            "container1 container1 container1 container1"
            "container1 container1 container1 container1"
            "container2 container2 container2 container2"
            "container2 container2 container2 container2"
            "container2 container2 container2 container2"
            "container3 container4 container4 container4"
            "container3 container4 container4 container4"
            "container5 container5 container5 container5"
            "container5 container5 container5 container5"
            "footer footer footer footer"
            "footer footer footer footer";
    }
    */
    
}   /* End of media query */






